<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read More Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <style>*{
        margin: 0;
        font-family: 'Roboto', sans-serif; 
    }
    .navbar{
        height: 10rem;
        display:flex;
        align-items: center;
        background-color: rgb(252, 240, 226);
    }
    
    .logo{
        font-family: 'Roboto', sans-serif; 
        color: gray;
        flex-basis: 70rem;
        margin-left: 6rem;
        font-size: 2rem;
    }
    .points{
        flex-basis: 10rem;
        color: gray;
        font-size: 1.2rem;
        text-decoration: none;
    }
    .points:last-child{
        margin-right: 30px;
    }
    h1{
        font-size: 3rem;
    }
    .child{
        margin: 1rem     5rem 0 5rem;
    }</style>
</head>
<body>
    <div class="navbar">
        <p class="logo">DAILY JOURNAL</p>
        <a href="/" class="points">Home</a>
        <a href="/AboutUs" class="points">AboutUs</a>
        <a href="/ContactUs" class="points">ContactUs</a>
    </div>


    <div class="content">
        <div class="child">
            <h1><%= post.topic %></h1>
            <p><%= post.post %></p>
        </div>
    </div>
<%- include('partials/footer'); -%>